@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<BookViewModel>

@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h3>These are the books we have collected</h3>
</div>

<div class="container mt-4">
	<h3>All Books</h3>
    
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Price</th>
				<td>Information</td>
				<td>PrintingDate</td>
				<td>Pages</td>
				<td>Author</td>
			</tr>
			</thead>
			<tbody>
			@foreach (var book in Model)
			{
				<tr>
					<td>@book.Title</td>
					<td>@book.Genre</td>
					<td>@book.Price</td>
					<td>@book.Information</td>
					<td>@book.PrintingDate</td>
					<td>@book.Pages</td>
					<td>@book.Author.Name</td>
				</tr>
			}
			</tbody>
		</table>
	}
	else
	{
		<p>No books available.</p>
	}
</div>